<% 
   if books.exists?
    books.each do |book| 
%>
    <li class="list-group-item" id="<%= book.id %>">
        <span><%= book.name %></span>
    </li>
<%
    end
   else 
%>
    <span class="empty">This category has no books yet.</span>
<%  
   end
%>